@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Rubik:wght@300&display=swap');

:root{
    --headline-font: "Rock Salt", 'Franklin Gothic Medium';
    --body-font: Rubik, Helvetica, sans-serif;
    font-size: 22px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    color: #44dffc;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color: #faea3d;
    color: #ff0a64;
}

#hero-msg h1, #hero-msg h2{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

main section img{
    border-style: borderbox;
}

#background{
    height: 750px;
    background-color: #ff0a64;
}

body{
    background-color: #9953e2;
    margin: 0;
    padding: 0;
}

header{
    background-color: #ff0a64;
}

.book, .join{
    background-color: #faea3d;
    color: #ff0a64;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: #ff0a64;
    color: #faea3d;
}

.msg{
    background-color: #44dffc;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2{
    color: #ff0a64;
    font-family: var(--headline-font);
}

.msg p{
    color: #ff0a64;
    font-size: .8em;
    padding-bottom: 15px;
}

footer{
    background-color: #ff0a64;
    color: #44dffc;
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img{
    padding-top: 15px;
}

footer a{
    color: #faea3d;
    text-decoration: none;
}

footer a:hover{
    color: #44dffc;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

.home-title{
    color: #44dffc;
    font-family: var(--headline-font);
    font-size: 2em;
    margin-top: 10px;
}

h4{
    color: #faea3d;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

.logo{
    width: 80px;
}

h2{
    margin: 0;
}
#logo_link{
    padding-top: 5px;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.card-img{
    border: 10px solid black;
}