html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
header {
    background-image: url(../images/w05_circles.jpg);
    background-size: cover;
    height: 55%;
}

main {
    background-color: #737373;
    height: 45%;
    text-align: center;
}

main img {
    display: inline-block;
    max-height: 200px;
    border-radius: 50%;
    border: 7px solid #444;
    margin: 25px 45px;
}